@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background: #111112;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}


.wrapper {
    width: 98%;
    max-width: 1280px;
    margin: 50px auto;
}

header {
    position: relative;
}

header .logo {
    font-weight: 600;
    font-size: 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: color 500ms ease;
}

header .logo:hover {
    color: #9D4EDD;
}


header ul.nav {
    float: right;
    list-style: none;
}

header ul.nav li {
    display: inline;
    margin-left: 25px;
    cursor: pointer;
    border-radius: 20px;
    text-decoration: none;
    transition: background 500ms ease, color 500ms ease;
}

header ul.nav li a {
    text-decoration: none;
    color: #fff;
    padding: 5px 15px;
    border-radius: 20px;
    transition: background 500ms ease, color 500ms ease;
}

header ul.nav li a:hover,
header ul.nav li a.active
{
    background: #FF9E00FF;
    color: #111112;
    border-radius: 20px;
}

header .shop-cart-button {
    float: right;
    cursor: pointer;
    transition: color 500ms ease, transform 500ms ease;
}

header .shop-cart-button:hover,
header .shop-cart-button.active {
    color: #ff9e00;
    transform: scale(1.5);
}

header .shop-cart {
    position: absolute;
    top: 30px;
    right: 0;
    width: 450px;
    background: #1d1e22;
    border-radius: 10px;
    -webkit-box-shadow: 4px 4px 8px 0 rgba(157, 78, 221, 0.2);
    -moz-box-shadow: 4px 4px 8px 0 rgba(157, 78, 221, 0.2);
    box-shadow: 4px 4px 8px 0 rgba(157, 78, 221, 0.2);
    z-index: 1000;
    padding: 20px 20px 0;
}

header .shop-cart .empty h2 {
    font-size: 20px;
    margin-bottom: 20px;
}

header .shop-cart .item {
    width: 100%;
    float: left;
    margin-bottom: 20px;
}


header .shop-cart .item img {
    width: 70px;
    float: left;
    margin-right: 20px;
    border-radius: 10px;
}

header .shop-cart .item h2 {
    width: 20px;
    right: 200px;
    margin-bottom: 10px;
}

header .shop-cart .item b {
    color: #9D4EDD;
    font-weight: 600;
}

header .shop-cart .item .delete-icon {
    color: #ff9e00;
    float: right;
    position: relative;
    top: -25px;
    cursor: pointer;
    transition: color 500ms ease, transform 500ms ease;
}

header .shop-cart .item .delete-icon:hover {
    color: #9D4EDD;
    transform: scale(1.5);
}

header .presentation {
    margin: 50px 0;
    width: 100%;
    height: 470px;
    background-size: cover;
    background-blend-mode: multiply;
    background: #bcbcbc url('./img/main.gif') no-repeat center center;
    position: relative;
    border-radius: 30px;
    transition: transform 500ms ease;
}

header .presentation:hover {
}

header .presentation::after {
    content: 'Touch the future';
    position: absolute;
    top: 100px;
    left: 50px;
    width: 300px;
    font-size: 40px;
    font-weight: 600;
    color: #fff;
    transition: animation 500ms ease, text-shadow 500ms ease, transform 500ms ease, color 500ms ease;
}

header .presentation::before {
    content: 'Little NFT store';
    position: absolute;
    top: 200px;
    left: 50px;
    width: 300px;
    font-size: 15px;
    font-weight: 300;
    color: #fff;
}

header .presentation:hover::after {
    color: #ff9e00;
    animation: glow 800ms infinite;
    animation-duration: 3200ms;

}

@keyframes glow {
    0% {
        transform: scale(1);
        text-shadow: 0 0 0 #ff9e00;
    }

    50% {
        transform: scale(1.05);
        text-shadow: 0 0 10px #ff9e00;
    }

    100% {
        transform: scale(1);
        text-shadow: 0 0 0 #ff9e00;
    }
}

.full-item {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(60, 9, 108, 0.8);
    z-index: 10000;
    overflow: auto;
}

.full-item img {
    width: 600px;
    height: 600px;
    border-radius: 30px;
}

.full-item > div {
    width: 600px;
    position: relative;
    margin: 0 auto;
    padding: 40px 30px;
    background: #1d1e22;
}

main {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
}

main .item {
    width: 21%;
    margin-bottom: 50px;
    background: #1d1e22;
    overflow: hidden;
    position: relative;
    padding-bottom: 20px;
    border-radius: 30px;
}

main .item img, .full-item .item img {
    width: 100%;
    border-radius: 10px 10px 0 0;
    transition: transform 500ms ease;
    cursor: pointer;
}

main .item img:hover, .full-item .item img:hover {
    transform: scale(1.05);
}

main h2, .full-item h2, main p, .full-item p, main b,
.full-item b {
    margin: 10px 20px;
    color: #ffffff;
}

main b,
.full-item b {
    color: #9D4EDD
}

main .add-to-cart,
.full-item .add-to-cart {
    position: absolute;
    right: 20px;
    bottom: 20px;
    background: #3C096C;
    width: 35px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    color: #fff;
    border-radius: 50%;
    cursor: pointer;
    font-weight: 600;
    transition: transform 500ms ease;
}

main .add-to-cart:hover,
.full-item .add-to-cart:hover {
    transform: scale(1.5) translateY(-5px);
}

footer {
    height: 40px;
    width: 100%;
    text-align: center;
    padding-top: 20px;
    border-radius: 30px 30px 0 0;
    background-color: #1d1e22;
    margin: 70px 0 -70px;
    font-weight: 600;
    color: #9D4EDD;
}

.player-container {
    position: fixed;
    bottom: 40px;
    left: 0;
    padding: 20px;
    border: 1px solid rgba(137, 44, 204, 0.4);
    z-index: 2000;
    background-color: #1d1e22;
    width: 7rem;
    height: 10px;
    border-radius: 30px 30px 30px 30px;
}