@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background: #111112;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}

.wrapper {
    width: 1280px;
    margin: 50px auto;
}

header .logo {
    font-weight: 600;
    font-size: 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: color 500ms ease;
}

header .logo:hover {
    color: #9D4EDD;
}

header ul.nav {
    float: right;
    list-style: none;
}

header ul.nav li {
    display: inline;
    margin-left: 25px;
    cursor: pointer;
    transition: color 500ms ease;
}

header ul.nav li:hover {
    color: #ff9e00;
}

header .presentation {
    margin: 50px 0;
    width: 100%;
    height: 470px;
    background-size: cover;
    background-blend-mode: multiply;
    background: #bcbcbc url('./img/main3.jpg') no-repeat center center;
    position: relative;
    border-radius: 30px;
}


header .presentation::after {
    content: 'Touch the future';
    position: absolute;
    top: 100px;
    left: 50px;
    width: 300px;
    font-size: 40px;
    font-weight: 600;
    color: #fff;
    transition: color 500ms ease, text-shadow 1000ms ease;
}

header .presentation::before {
    content: 'по низким ценам';
    position: absolute;
    top: 200px;
    left: 50px;
    width: 300px;
    font-size: 15px;
    font-weight: 300;
    color: #fff;
}

header .presentation:hover::after {
    color: #ff9e00;
    text-shadow: 0 0 10px #ff9e00;
}

main {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
}

main .item {
    width: 30%;
    margin-bottom: 50px;
    background: #1d1e22;
    overflow: hidden;
    position: relative;
    padding-bottom: 20px;
    border-radius: 10px 10px 0 0;
}

main .item img {
    width: 100%;
    border-radius: 10px 10px 0 0;
    transition: transform 500ms ease;
}

main .item img:hover {
    transform: scale(1.05);
}

main h2, main p, main b {
    margin: 10px 20px;
    color: #ffffff;
}

main b {
    color: #9D4EDD
}

main .add-to-cart {
    position: absolute;
    right: 20px;
    bottom: 20px;
    background: #3C096C;
    width: 35px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    color: #fff;
    border-radius: 50%;
    cursor: pointer;
    font-weight: 600;
    transition: transform 500ms ease;
}

main .add-to-cart:hover {
    transform: scale(1.5) translateY(-5px);
}

footer {
    text-align: center;
    margin-top: 100px;
}
